div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: white;
}

.container-fluid {
  background-color: rgb(30,31,33);
}

.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 3rem;
  background: transparent !important;
}

.theme-color {
  color: #009683 !important;
}
.theme-background-color {
  background-color: #009683 !important;
  color: white;
}

/* Begin Home Page Styles */

.filter-row {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
}

.filter-row button {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
  padding: 0 10px 0 10px;
  width: auto;
  height: 30px;
  border: 0;
  background-color: #009683;
  color: white;
}

.main-card {
  display: flex;
  background-color: #2a2b2d;
}
.main-card .card-col {
  padding: 10px;
}
.main-card .card-col:first-child {
  min-width: 180px !important;
}
.main-card .card-col:first-child .inner-card {
  height: 94%;
}
.inner-card {
  background-color: #505052;
}
.medium-card {
  background-color: #37383a;
}

.medium-card .page-show {
  text-align: right;
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 12px;
  color: white;
}
.medium-card .search-result-info {
  display: flex;
}
.medium-card .search-result-info p {
  font-size: 13px;
}

.medium-card .page-selected {
  border-radius: 5px;
  background-color: white;
  color: #009683;
}
.medium-card {
  font-size: 13px;
}

.inner-card .accordian-container {
  width: auto;
  font-size: 13px;
}
.inner-card .accordian-container .accordion {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  transition: 0.4s;
}
.inner-card .accordian-container .active,
.inner-card .accordian-container .accordion:hover {
  /* background-color: #ccc; */
}
.inner-card .accordian-container .panel {
  margin: 5px;
  padding: 0 18px;
  border-radius: 5px;
  font-size: 13px;
  color: black;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.bottom-note {
  font-size: 12px;
  color: white;
}
.button-row button {
  height: 30px;
}

@media screen and (max-width: 1300px) {
  .inner-card .medium-card .d-flex .justify-content-between {
    display: block !important;
  }
}

@media screen and (max-width: 1199px) {
  .button-row .d-flex {
    width: 100%;
    justify-content: right;
  }
}

@media screen and (max-width: 991px) {
  .filter-row {
    display: block;
  }
  .filter-row button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .main-card {
    display: block;
  }
  .main-card .card-col:first-child .inner-card {
    display: flex;
    flex-wrap: wrap !important;
  }
  .main-card .card-col:first-child .inner-card .form-check {
    width: 25%;
    margin: 0 10px 0 10px;
  }


}

@media screen and (max-width: 767px) {
  .main-card .card-col:first-child .inner-card .form-check {
    width: 35%;
    margin: 0 10px 0 10px;
  }
  
  .inner-card .medium-card .d-flex .page-show {
    width: 20%;
  }
}

@media screen and (max-width: 575px) {
  
}

@media screen and (max-width: 479px) {
  .button-row .d-flex {
    display: block !important;
    justify-content: right;
  }
  .button-row .d-flex button {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 359px) {
  
}


/* End Home Page Styles */



/* Begin Search Page Styles */

.search-form {
  max-width: 600px;
}

@media screen and (max-width: 1300px) {
  
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
  
}

@media screen and (max-width: 767px) {
  
}

@media screen and (max-width: 575px) {
  
}

@media screen and (max-width: 479px) {
  
}

@media screen and (max-width: 359px) {
  
}

/* End Search Page Styles */





















/* Begin Policy Page Styles */
.upload-note {
  color: red;
  font-size: 13px;
}
.faq-upload {
  display: flex;
  align-items: center;
  border-bottom: solid 3px gray ;
}
.faq-upload .add-tab {
  max-width: 100%;
  background-color: gray;
}

.faq-accordian {
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  transition: 0.4s;
}
.faq-active,
.faq-accordian:hover {
  background-color: #ccc;
}
.faq-panel {
  padding: 0 18px;
  font-size: 13px;
  color: white;
  background-color: gray;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* End Policy Page Styles */
